@model Proyecto_Programado.UI.ViewModels.UsuarioLoginVM;
@{
    Layout = null;
}

<html>
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        .btn-facebook {
            background-color: #4267B2;
            color: white;
            border: none;
        }

            .btn-facebook:hover {
                background-color: #365899;
            }

            .btn-facebook i {
                margin-right: 8px;
            }
    </style>
</head>

<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Iniciar Sesion otro controller
                </div>
                <div class="card-body">
                    <form asp-for="LoginRegistro" asp-action="InicieSesion" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="NombreUsuario" />
                        <input class="form-control mb-3" type="password" placeholder="Clave" required asp-for="Clave" />

                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }

                        <div class="d-grid gap-2 mb-3">
                            <!-- Botón de Facebook -->
                            <a asp-controller="LoginRegistro" asp-action="LoginWithFacebook" class="btn btn-outline-primary">
                                <i class="bi bi-facebook"></i> Continuar con Facebook
                            </a>
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <a asp-controller="LoginRegistro" asp-action="Login" class="btn btn-outline-dark">
                                <i class="bi bi-google"></i> Continuar con Google
                            </a>
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <a asp-controller="LoginRegistro" asp-action="CambiarClave" class="btn btn-outline-secondary">Cambiar Clave</a>
                        </div>

                        ¿No tienes una cuenta? <a asp-action="Registrarse">Registrate Ya!</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

