@model Proyecto_Programado.Model.AperturaDeCaja

@{
    ViewData["Title"] = "Index";
}

<h1>Apertura de cajas</h1>

@if (Model != null)
{
    <h2>Información de la caja abierta</h2>
    <table class="table">
        <thead>
            <tr>
              
                <th>
                    @Html.DisplayNameFor(model => model.FechaDeInicio)
                </th>

                
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>
                    @Html.DisplayFor(model => model.FechaDeInicio)
                </td>
               
                <td>
                    <a asp-action="CerrarCaja" asp-route-id="@Model.Id" class="btn btn-danger">Cerrar caja</a>

                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>No hay caja abierta.</p>
    <p>
        <a asp-action="Create" class="btn btn-primary">Abrir Caja</a>
    </p>
}