@using Proyecto_Programado.Model
@model Proyecto_Programado.Model.Inventario


@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control">
                    <option value="">Seleccione una categoría</option>
                    @foreach (var categoria in Enum.GetValues(typeof(Categoria)).Cast<Categoria>())
                    {
                        <option value="@categoria">@categoria.GetDescription()</option>
                    }
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" type="number" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function formatNumber(input) {
            var number = input.value.replace(/\s/g, "").replace(",", ".");
            var parts = number.split(".");
            parts[0] = parseFloat(parts[0]).toLocaleString('fr-FR');
            input.value = parts.join(".");
        }

        formatNumber($('#PrecioDisplay')[0]);

        $('#PrecioDisplay').on('input', function () {
            formatNumber(this);
            $('#PrecioReal').val(this.value.replace(/\s/g, "").replace(",", "."));
        });
    });
</script>




